@model StudentManagementSystem.Models.Context.SMS_User
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<div class="card o-hidden border-0 shadow-lg my-5">
    <div class="card-body p-0">
       
        <!-- Nested Row within Card Body -->
        <div class="row">
            <div class="col-lg-5 d-none d-lg-block bg-register-image" style="background: url( @Url.Content("~/Theme/images/register.jpg"));background-position: center;background-size: cover;"></div>
            <div class="col-lg-7">
                <div class="p-5">
                    <div class="text-center">
                        <h1 class="h4 text-gray-900 mb-4">Create an Account!</h1>
                    </div>
                    <form class="user" method="post">
                        <div class="form-group row">
                            <div class="col-sm-12 mb-3 mb-sm-0">
                               
                                @Html.ValidationMessageFor(x => x.Username)
                                @Html.TextBoxFor(x => x.Username, new { @class = "form-control form-control-user", id = "exampleFirstName", placeholder = "Username" })
                            </div>
                            
                        </div>
                        <div class="form-group">
                           
                            @Html.ValidationMessageFor(x=>x.Email)
                            @Html.TextBoxFor(x=>x.Email,new { @class= "form-control form-control-user", id= "exampleInputEmail",placeholder= "Email Address" })
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-6 mb-3 mb-sm-0">
                               
                                @Html.ValidationMessageFor(x=>x.Password)
                                @Html.PasswordFor(x => x.Password, new { @class = "form-control form-control-user", id = "exampleInputPassword", placeholder = "Password" })
                            </div>
                            <div class="col-sm-6">
                               
                                @Html.ValidationMessageFor(x=>x.ConfirmPassword)
                                @Html.PasswordFor(x => x.ConfirmPassword, new { @class = "form-control form-control-user", id = "exampleRepeatPassword", placeholder = "Confirm Password" })
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary btn-user btn-block">
                            Register Account
                        </button>
                      
                    <div class="text-center">
                        <a class="small" href="/Account/Login">Already have an account? Login!</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

